.NavBar {
    border: solid black 2px;
    height: 2rem;
    display: flex;
    place-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0px 3px 0px 3px;
  .nav-title {
      .title {
        color: black;
        text-decoration: none;
      }
    }
    .nav-links {
      display: flex;
      gap: 1rem;
    }
  
  }
  